body{
    font-family: 'Baloo Tamma 2', cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F7FB;
}
.index {
    margin-top: 50px;
    padding: 5% 20% ;

}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
#logo{
    grid-column-start: 1;
    grid-column-end: 3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: white;
    /* position: absolute; */
    border-radius: 20px;
}
.card{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: white;
    border-radius: 20px;
    width: 175px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card:hover{
    background-color: #667EEC;
    color: #fff;
}
.logo-img {
    margin-top: -60px;
}
.insta-capela{
    margin-top: 0px;
}
hr{
    min-width: 300px;
    background-color:#C4C4C4;
    margin-top: 0;
}
#text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #A2A9B7;
    margin: 1.5rem;
}
.p-link{
    display: flex;
    flex-direction: column;
}

a{
	justify-content: center;
    display: flex;
    flex-direction: row;
}
.p-link:hover{
    color: #fff;
}
i {
    font-size:50px;
    margin: 0.8rem 1rem 0 1rem;
}
p {
    font-size: large;
    line-height: 100%;
}
.p-link{
    text-decoration: none;
    align-items: center;
    color: #667EEC;
}
.p-link:visited{
    text-decoration: none;
}
.button:hover{
    background-color: #fff;
    border-color: #667EEC;
}
@media (max-width: 550px){
    /* body{
        padding:10% 5% ;
    }
    hr{
        min-width: 50%;
    }
    #text{
        font-size: 15px;
        line-height: 21px;
        margin: 0.5rem;
    }
    i {
        margin: 1rem 1rem 1.2rem 0rem;
    }
    #button{
        min-width: 100%;
    }
    
    .p-link{
        font-size: 12.6352px;
        line-height: 15px
    } */
}